*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.dflex{
    display: flex;
}

header{
    height: 10vh;
}

main{
    height: calc(100vh - 22vh);
    width: 90vw;
    margin: 0 auto;
}


.container.main{
    justify-content: space-between;
    height: 100%;
    flex-wrap: wrap;
    row-gap: 10px;
}

.card{
    height: calc((100% - 40px ) / 5);
    width: calc((100% - 30px) / 7);
    background-color: yellow;
}

.container.nav{
    height: 12vh;
    justify-content: space-between;
}

.btn{
    height: 12vh;
}

.btn.dflex{
    flex-direction: column;
    align-items: center;
    justify-content: center;
}